<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns ="http://www.w3.org/ns/widgets"
    xmlns:gap ="http://phonegap.com/ns/1.0"
    id        ="br.com.tartans"
    version   ="1.0.0">

<name>The Tartanator</name>
<description>App for Scotch Culture Divulgation</description>
<author href="http://impacta.edu.br"
        email="desenvolvimento.ope@gmail.com"> Guilherme Froes, Leonardo Soares, Luiz Fernando e Otavio Menhart</author>
<icon src="icons/icon1.png" height="114" width="114"/>
<icon src="icons/icon2.png" height="72" width="72"/>
<icon src="icons/icon3.png" height="57" width="57"/>
<icon src="icons/icon4.png" height="48" width="48"/>
<icon src="icons/icon5.png" height="36" width="36"/>

</widget>